<form action="./main.html">
    First name: <input type="text" name="fname" required><br><br>
    Last name: <input type="text" name="lname" required><br><br>
    Email: <input type="email" required><br><br>
    City: <input list="city" required>
    <datalist id="city">
            <option value="Alba Iulia">
            <option value="Cluj">
    </datalist><br><br>
    Birthday: <input type="date" required ><br><br>
    Gender: <input type="radio" name="gender" required value="male" > Male
            <input type="radio" name="gender" required value="female"> Female<br><br>

    <input type="submit" value="Submit"><br>
</form>
  